{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
      <h1>Привет, я автор</h1>
      <p>
        Привет, надеюсь вам понравится данный проект. Когда я начинал его делать,
        у меня почти не было никаких знаний о верстке, и создании сайтов, но как видите сайт готов.
        Вы можете потыкать по всем страницам сайта, но не будет работать востановление
        пароля по почте(позже доработаю). Всем бобра)
      </p>
    </div>
{% endblock %}